#classtests_page_container{
    height: 100vh;
}
#classtests_page_container #main_wrapper    {
    display:flex;
}

#classtests_page_container #contents_wrapper{
    background-color: #eef6e3;
    border-radius: 15px;
    width: 1300px;
}

#classtests_page_container #contents_title_container{
    font-size: 40px;
    border-bottom: 2px solid #6fa125;
    margin: 20px;
    padding: 20px;
    color:#6fa125;
    font-family: "Jalnan";
    display:flex;
    justify-content: space-between;
}
#classtests_page_container #contents_title_container #button_container{
    display:flex;
}

#classtests_page_container #contents_title_container .make_test_button{
    border: 2px solid #6fa125;
    border-radius:10px;
    background-color: #6fa125;
    font-family: "Jalnan";
    font-size: 18px;
    width: 100px;
    height: 31px;
    display:block;
    padding-top: 11px;
    text-decoration: none;
    text-align: center;
    color:white;
    margin: 0 5px;
}

#classtests_page_container #test_list_container{
    padding: 10px;
}

#classtests_page_container #test_list_container .test_link,#table_label{
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px;
    border-radius: 10px;
    font-size:18px;
    font-family: "Ones";
    text-decoration: none;
    color: #333333;
}

#classtests_page_container #test_list_container .test_number{
    flex-basis:10%;
    text-align: center;
}

#classtests_page_container #test_list_container .test_data{
    flex-basis: 30%;
    text-align: center;
}

#classtests_page_container #test_list_container .test_link{
    background-color: white;
}

#classtests_page_container #test_list_container #table_label{

}