#main_page_container{
    padding: 20px 80px;
}

#navbar {
    background-color : white;
    height: 80px;
    align-items:center;
    margin-top:50px;
    padding: 0 50px;
}

#main_page_container #navbar_content_wrapper{
    display:flex;
    justify-content:space-between;
}

#main_page_container #navbar_content_wrapper #navbar_content_left{
    display:flex;
}

#main_page_container #navbar_content_wrapper #navbar_content_right{
    margin:auto 0;
    display:flex;   
    vertical-align:middle;
}
#main_page_container #navbar_content_left #main_logo_text{
    font-size: 50px;
    color:#3ab54a;
    font-family: "Jalnan";
}
#main_page_container #navbar_content_wrapper .navbar_a_text{
    color: #666666;
    font-size: 28px;
    text-decoration: none;
    font-weight:900;
}
#main_page_container #navbar .vertical_line{
    border-left: 2px solid #666666;
    margin: auto 60px;
    height: 30px;
    border-radius: 10%;
}

#main_page_container #slide_wrapper{
    padding: 40px;
}

#main_page_container #slide_wrapper .slide{
    display:flex;
    justify-content: center;
    width: 1300px;
    border-radius: 50px;
}

#main_page_container #slide_wrapper .slide_img{
    margin: 0 auto;
    width: 1300px;
    border-radius: 50px;
}
